@charset "utf-8";
/* CSS Document */
body{
	background-image:url(Picture1.png);
	background-repeat:no-repeat;
	background-position:bottom;
	min-width:768px;
	max-width:1366px;
	min-height:600px;
	max-height: 768px;
}
body div#title{float:left;
width:100%;
height:10%;
}
body div#title img{
width:100%;
height:100%;
}

