
body {
	min-height:240px;
	max-height:320px;
	min-width:240px;
	max-width:320px;
 }
 body div#topbanner{
 width:100%;
 height:5%;
 
 position absolute;
 top:0%; left:0%;
 }
 body div#topbanner img{
 width:100%;
 height:50%;
 }
 body div#v`tabbar{
 position: absolute;
 top:85; left:0%;
 width:100%; height:8%;
 
 
 }
 body div#vtabbar a{
  height:100%; width:25%;
 border: #D3D3D3 outset 2px; background-color:#7CFC00; color:#FFFFFF;
  text-decoration:none;display:inline-block;
}

	
 body div#vtabbar a p{
  position:absolute; top:5%; left:33%;right:47%;
  height:5%;  font-size:16pt;
 background-color:#7CFC00; color:#FFFFFF;
  text-decoration:none;display:inline-block;
}
 body div#main{
 position: absolute;
 top:13%; left:0%;
 width:100%; height:70%;
 
 }
 body div#copy{
 position: absolute;
 top:83.2%; left:20%;
 width:50%; height:15%;
  font-size:16px;
 }


