
body div#page{
	min-height:240px;
	max-height:320px;
	min-width:240px;
	max-width:320px;
}
 body div#page div#topbanner{
	 min-width:240px; max-width:960px;
 height:5%;
 
 position absolute;
 top:0px; left:0px;
 }
 body div#page div#topbanner img{
 width:100%;	
 height:10X;
 
 }
 body div#page div#tabbar{
 position: absolute;
 top:73.2%; left:0%;
 min-width:240px; max-width:960px; height:10%; 
 
 }
 body div#page div#tabbar a{
  height:100%; width:33%;
 border: #D3D3D3 outset 2px; background-color:#7CFC00; color:#FFFFFF;
  text-decoration:none;display:inline-block; vertical-align:middle; text-align:center;
}

	
 body div#page div#tabbar a p{
  height:15%;  font-size:16pt; width:15%;
 background-color:#7CFC00; color:#FFFFFF;
  text-decoration:none;display:inline-block;
}
 body div#page div#main{
 position: absolute;
 top:5%; left:0%;
 width:100%; height:58%;
 
 }
 body div#page div#copy{
 position: absolute;
 top:84.2%; left:0%;
 width:100%; height:15.8%;
  font-size:16px;
 }


